html {
  font-size: 100%;
}

body {
  background-color: $white;
  color: $black;
  font-family: "Crimson Text", sans-serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  // 下の余白を消す
}

ul {
  list-style: none;
}

a {
  color: $black;
  text-decoration: none;
}