.inner_1 {
  margin: 2.5% 2.5% 0; 
}

.inner_2 {
  margin: 5% 15% 0;
}

.item {
  display: flex;
  align-items: center;
  // 今回はy軸をうまく調整するために
  // align-items: cneter;

  img {
    width: 50%;
  }

  &_txt {
    margin-left:7%;

    p {
      margin-top: 7%;
    }
  }
}

.ttl {
  font-size: 1.5rem;
  font-weight: normal;

  // inline-blockをspanにやってあげると
  // margin-bottomで調整可能　今回はzpタグをmarginした
}

#work {
  .item_txt {
    margin-right: 7%;
  }
}

footer {
  margin: 5% 15% 1%;

  .footer_item { 
    display: flex;
    justify-content: space-between;

    &_img {
      width: 100px;
      align-items: center;
      line-height: 1.0px;
    }
  }
  p {
    font-size: 0.875rem;
  }
}