#menu {
  .menu_item {
    display: flex;
    width: 90vw;
    align-items: center;
    // %は親要素に影響されるがvwは全体の幅に対する割合だから調節がしやすい
    // y軸センターにすることで ulと同じ高さにできる

    h1 {
      width: 110px;
      line-height: 1.0px;
      margin-right: 5%;
      // 文字の高さを調整

      a {
        display: block;
      }
    }

    ul {
      display: flex;

      li {
        font-size: 0.875rem;
        margin-right: 20%;

        :last-child {
          margin-right: 0;
        }

        :hover {
          opacity: 0.7;
        }
      }
    }
  }
}